OPENAI_API_KEY=xxx
LANGSMITH_API_KEY=xx
SYNAPSE_API_KEY=xxx
SYNAPSE_CHAT_COMPLETION_API_URL=https://llm.synapse.thalescloud.io/v1/chat/completions
LLM_MODEL=gpt-4o
# Optional corporate proxy:
# HTTPS_PROXY = "http://proxy.host:port"
# Optional to bypass SSL verification for requests:
# PY_REQUESTS_VERIFY = "false"